record(seq, "${P}:${R}:Rly${FUNCTION}_iTPG500ChanSeq")
{
# Set by vac_gauge_tpg300_relay.db
  field(FLNK, "${P}:${R}:Rly${FUNCTION}_iTPG500ChanSseq")
}


record(sseq, "${P}:${R}:Rly${FUNCTION}_iTPG500ChanSseq")
{
# Set by vac_gauge_tpg300_relay.db
}


